.file{
    display: flex;
    align-items: center;
    max-height: 3em;
    gap: 1em;
    justify-content: space-between;
    font-size: .80em;
    box-shadow: 0 0 4px var(--secondary-color);
    transition: all .1s ease-in;
    min-width: calc(100 - 2em);   
    padding: 0 1em 0 1em;
}

.file:hover{
    transition: all .1s ease-in;
    background-color: var(--decoration-color);
}

p{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.namefile{
    max-width: 20%;
}
.datefile{}

.star{
    max-width: 1.5em;
    max-height: 1.5em;
}

.red{
    background-color: red;
}