
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --terciary-color: #213547;
  --decoration-color: #646cff;
  --secondary-color: rgba(0, 0, 0, 0.205);
  --primary-color: #ffffff;
  --text-color: #7a7a7a;
  --standar-width: 20em;
  border: #213547;
}

body{
  overflow-x: hidden;
  font-family: 'Onest Variable';

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --terciary-color: #213547;
  --decoration-color: #646cff;
  --secondary-color: rgba(0, 0, 0, 0.205);
  --primary-color: #ffffff;
  --text-color: #7a7a7a;
  --standar-width: 20em;
  border: #213547;
}

a {
  font-weight: 500;
  color: var(--decoration-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--decoration-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  color: var(--terciary-color);
}
